@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: normal;
  src: local('Bevan'), url('http://themes.googleusercontent.com/font?kit=EJh9uh2wkQP9ayreC3xPZaCWcynf_cDxXwCLxiixG1c') format('woff');
}

*  {
    margin:0px;
    padding:0px;
}

body {
    color: #000;
    font-family:Georgia, serif;
}

a {
    color:#2c6aa8;
    text-decoration:none;
}

a:hover {
    color:#1e4872;
    text-decoration:underline;
}

h1  {
    width:800px;
    font-family:"Bevan", Times, serif;
    font-size:72px;
    color: #0176AB;
    margin-top:24px;
    margin-bottom:-16px;
    text-align:center;
    text-shadow:#397CBF 1px 1px 1px;
    letter-spacing:-1px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-shadow: 0px 4px #000;
}

h2 {
    color: #666666;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style:italic;
    text-align:center;
    padding-bottom:16px;
    display:block;
    width:812px;
    border-bottom:1px dashed #999999;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:16px;
}

footer, section {
    display:block;
    width:812px;
    border-bottom:1px dashed #999999;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:16px;
    padding-bottom:16px;
    line-height:28px;
}

section p {
    padding-top: 10px;
}



section:last-child {
    border-bottom:none;
}

footer {
    border-bottom: 0;
}

h3 {
    display:block;
    width:200px;
    font-size:36px;
    text-align:right;
    font-family:"Bevan";
    font-weight:normal;
    float:left;
    line-height:48px;
    color: #006BAE;
}

h4 {
    font-family:"Bevan";
    font-weight:normal;
    font-size: 18px;
    color: #006BAE;
    float: left;
    margin-top: 14px;
    margin-left: 60px;
}

p {
    display:block;
    padding-left:240px;
    margin-top:22px;
    margin-bottom: 22px;
}

#map {
    width:535px;
    height:250px;
    border-top:1px solid #b9cbd8;
    border-left:1px solid #b9cbd8;
    clear:both;
    margin:12px 250px auto;
    box-shadow:1px 1px 4px #000;
}

#logos img {
    margin-bottom: 20px;
    margin-right: 8px;
}

#logos p a {
    position: relative;
    float: left;
    width: 49%;
}
ul {
    padding-left: 260px;
    margin-bottom: 12px;
}
